<div class="container custom-container-2">


    <div class="row">
        <div class="col-md-6">
            <!-- Show it when there is no student -->
            <div class="no-data text-center" *ngIf="Student.length == 0">
                <p>There is no student fetched yet!</p>
            </div>
            <div *ngIf="Student.length !== 0">
                <h3 class="mb-3">Students List</h3>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let student of Student">
                            <p>{{student.id}}. <span class="details" routerLink="/details/{{student.id}}">{{student.name}}</span>
                                 has played  the <span class="tool">guitar</span> for {{student.experience}}
                                years.</p>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Select instrument</h3>
            <div class="row">
                <select [(ngModel)]='InstrumentSelected' (ngModelChange)='onInstrumentSelected($event)' name="" id="">
                    <option *ngFor='let instrument of lstInstruments' [value]="instrument.id">
                        {{instrument.name}}
                    </option>
                </select>
            </div>
            <ul *ngFor="let student of lstStudents">
                <li>{{student.name}}</li>
            </ul>
        </div>
    </div>
</div>