/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@media screen and (min-width:1000px) {
    .container {
      width: 70%;
      margin: 2rem 15% 2rem 15%;
    }
  }
.navbar {
    background-color: blue !important;
}
body {
    background-color: cornflowerblue;
}
.details {
    font-weight: 900;
    color: darkgreen;
}
.tool {
    font-weight: 900;
    color: darkgreen;
}